.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5),
                0 6px 20px 0 rgba(0,0,0,0.39);
    background: lightpink;
    margin-bottom : 5%;
    border-radius: 25px;
    padding : 2%;
    overflow: auto;
    resize: both;
    text-overflow: ellipsis;
    }
    .card:hover{
        background: lightblue;
    }
    
    .submit_form{
    
        text-align: center;
        padding: 3%;
        background: pink;
        border-radius: 25px;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.4),
                    0 6px 20px 0 rgba(0,0,0,0.36);
    }