{% extends 'base.html' %}

{% load static %}

{% block randomname %}
<link href="{% static 'css/fileupload.css' %}" rel="stylesheet">
<form method="POST">
    {% csrf_token %}

<div class="zone">

    <div id="dropZ">
      <i class="fa fa-cloud-upload"></i>
      <div>Drag and drop your file here</div>
      <span>OR</span>
      <div class="selectFile">
        <label for="file">Select file</label>
        <input type="file" name="files" id="file">
        <input type="submit" value="Submit">
      </div>
      <p>File size limit : 10 MB</p>
    </div>
  
  </div>
</form>
  {% endblock %}